@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --linkedin: #0a66c2;
  --twitter: #000;
  --bluesky: rgb(32, 139, 254);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-tight), Arial, Helvetica, sans-serif;
}
